
{% extends "layouts.html" %}
{% block content %}
		<main>
			<div class = "box">
				<h1>Log in</h1>
				<form action="source.php">
					<div>
						<label for="userName">Username</label>
						<input type="text" id="userName" name="userName" placeholder="Enter username">
					</div>
					<div>
						<label for="password">Password</label>
						<input type="password" id="password" name="password" minlength="10 required" placeholder="Enter your password">
					</div>
				</form>
				<div>
					<input type="submit" name="" value="Login">
				</div>
				<a href="#">Forgot password?</a><br>
				<a href="registration.html">Register</a>
			</div>
		</main>
{% endblock content %}
