<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% if title %}
        <title>Fuel App - {{ title }}</title>
    {% else %}
        <title>Fuel App</title>
    {% endif %}
</head>
<body>
    <header class="head">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="quote.html">Quote</a></li>
                    <li><a href="history.html">History</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>