body {
  background-color: #7F8999;
}

h1 {
    text-align: center;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-bottom: 5px;
}

form {
    text-align: center;
}
